@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam&family=MedievalSharp&family=Rock+Salt&display=swap"');
/* everything style */
#content{
    max-width: 1600px;
    margin: 0 auto;
}


/* header stuff */

header {
    display: grid;
    height: 10vw;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: space-between;
    align-items: center;
    background-color: #32303c99;
    border-radius: 15px;
    z-index: 0;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }

.logo{
  width: 8vw;
  z-index: 0;
  padding-bottom: 2vw;
  border-radius: 50%;
  /* box-shadow: 4px 4px 12px black; */
}

h1 {
    align-items: center;
    text-align: center;
    color: #E7BA7C;
    text-shadow: 4px 4px 12px black;
    font-size: 3vw;
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 0;
    padding-bottom: 5vw;
}

h4 {
  color: #999;
  font-size: 1.8vw;
  text-shadow: 4px 4px 12px black;
  grid-column: 2/3;
  grid-row: 1/2;
  align-items: center;
  text-align: center;
  padding-top: 5%;
  z-index: 0;
}

nav{
    justify-self: right;
    padding-right: 2vw;
    padding-bottom: 1vw;
    position: relative;
    align-items: center;

}

#hero {
  position: relative;
  z-index: -1;
  margin-top: -240px;
}

#hero-img {
  width: 98.3vw; /* Adjust this value to control the width of the image within the #hero container */
  max-width: 100vw; /* Ensure the image doesn't exceed its original size */
  height: auto; /* Maintain the aspect ratio when resizing */
  z-index: -1;
  align-items: center;
  border-radius: 5px;
}

.hero-img-credit{
  text-align: right;
  padding-right: 25px;
}

.hero-img-credit-link {
  text-decoration: none;
  color: #999;
  text-shadow: 5px 5px 10px #040f16;
}

.hero-img-credit-link:hover {
  background-color: #040f16;
  color: #E7BA7C;
  border-radius: 5px;
}


/* Footer stuff */

footer{
    background-color: #32343C;
    padding: 25px 50px;
    margin-top: 150px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 2fr;
    align-items: center;
    border-radius: 15px;
    align-self: center;
    text-align: center;
}

footer a{
    /* background-color: #406887; */
    color: #999;
    text-decoration: none;
    align-self: center;
}

footer a:hover{
    background-color: #406887;
    color: #E7BA7C;
    border-radius: 5px;
    padding: 4px;
}

footer p a:hover {
    text-decoration: underline;
}

p.copyrights{
  color: #999;
  align-self: center;
}

/* main body stuff */

body{
    background-color: #585966;
    color: black;
    font-size: large;
}


/* section one stuff */
.abt_products {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 4fr 1fr 3fr 1fr;
  padding-top: 50px;
}

.disc_golf_cart {
  grid-column: 2/3;
  width: 120%;
  border-radius: 15px;
  box-shadow: 5px 5px 50px #040f16;

}

.about_gear {
  position: relative;
  z-index: 1;
  grid-row: 1/2;
  grid-column: 3/5;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #32303c;
  padding: 40px;
  padding-top: 60px;
  color: #999;
  border-radius: 25px;
  box-shadow: 10px 5px 5px #040f16;
  font-size: 1.5vw;
}

.about_gear_link{
  text-decoration: none;
  grid-row: 1/2;
  grid-column: 3/5;
  z-index: 2;
  text-align: center;
  margin-top: auto;
  margin-bottom: 7%;
  font-size: 1.6vw;
  background-color: #406887;
  color: #E7BA7C;

}

.gear-title {
  position: relative;
  z-index: 2;
  grid-row: 1/2;
  grid-column: 3/5;
  text-align: center;
  justify-content: center;
  font-size: 2.5vw;
  color: #E7BA7C;
  padding-top: 15px;
}

.photo_cred_cart, .photo_cred_company {
  grid-column: 3/5;
  grid-row: 2/3;
  text-align: right;
  margin: 5px;
}

.photo_cred_cart_link {
  text-decoration: none;
  color: #999;
  text-shadow: 5px 5px 10px #040f16;
  }

.photo_cred_cart_link:hover {
  background-color: #040f16;
  color: #E7BA7C;
  border-radius: 5px;
}

/* section 2 */
.abt_company {
  margin-top: 75px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 4fr 1fr;
  padding-top: 50px;
}

.company_photo {
  grid-column: 3/5;
  grid-row: 1/2;
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 50px #040f16;
  text-align: center;
}

.about_owners {
  position: relative;
  z-index: 1;
  grid-row: 1/2;
  grid-column: 2/4;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #32303c;
  padding: 40px;
  padding-top: 80px;
  font-size: 1.6vw;
  color: #999;
  border-radius: 25px;
  box-shadow: 10px 5px 5px #040f16;
  font-size: 1.3vw;
}

.about_owners_link{
  text-decoration: none;
  grid-row: 1/2;
  grid-column: 2/4;
  z-index: 2;
  text-align: center;
  margin-top: auto;
  margin-bottom: 7%;
  font-size: 1.5vw;
  background-color: #406887;
  color: #E7BA7C;

}

.about_owners_link:hover, .about_gear_link:hover{
  background-color: #585966;
}

.owners_title {
  position: relative;
  z-index: 2;
  grid-row: 1/2;
  grid-column: 2/4;
  text-align: center;
  justify-content: center;
  font-size: 2.5vw;
  color: #E7BA7C;
  padding-top: 15px;
}

.photo_cred_company {
  padding-top: 10px;
}

.photo_cred_company_link {
  text-decoration: none;
  color: #999;
  text-shadow: 5px 5px 10px #040f16;
  transition: transform .5s;
}

.photo_cred_company_link:hover {
  background-color: #040f16;
  color: #E7BA7C;
  border-radius: 5px;
}



/* Button styling */
.btn {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  background: #040f16;
  color: #f5f5f5;
  grid-column: 2/3;
  position: relative; /*Added for positioning .icon and .text */
}

/* Hover effect */
.btn:hover {
  box-shadow: 0 0 20px 0px #2e2e2e3a;
}

/* Icon styling */
.btn .icon {
  position: absolute;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

/* Text styling */
.btn .text {
  transform: translateX(55px);
  transition: all 0.5s; /* Added transition for opacity change */
  opacity: 1; /* Added initial opacity value */
}

/* Hover effect for icon width */
.btn:hover .icon {
  width: 175px;
}

/* Hover effect for text opacity */
.btn:hover .text {
  opacity: 0;
}

/* Focus state */
.btn:focus {
  outline: none;
}

/* Active state */
.btn:active .icon {
  transform: scale(0.85);
}


.hidden {
  display: none;
}


/* Dropdown styling */
.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #040f16;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  top: 100%;
  width: 150px; /*Adjust width as needed */
}


.dropdown-content a {
  color: #f5f5f5;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s;
}


.dropdown-content a:hover {
  background-color: #2e2e2e;
}


/* Show the dropdown content when the button is clicked */
.dropdown.active .dropdown-content {
  display: block;
}





/* subpage 1 */

/* product 1 */

.glove{
  background-color: #32343C;
  color: #999;
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-size: 1.6vw;
  margin-top: 50px;
  margin-bottom: 40px;
  border-radius: 15px;
}

.glove_img{
  grid-column: 2/3;
  grid-row: 1/2;
  max-width: 300px;
  border-radius: 15px;
  align-self: center;
  justify-self: center;
}

.glove_description{
  grid-row: 1/2;
  padding-right: 15px;
  padding-left: 25px;
  padding-bottom: 15px;
}

h2{
  color: #406887;
}


/* product 2 */

.cart{
  background-color: #32343C;
  color: #999;
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-radius: 15px;
  font-size: 1.6vw;
  padding-left: 25px;
  padding-bottom: 15px;
}

.bags_img{
  max-width: 444px;
  border-radius: 15px;
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
}

.photo_cred{
  font-size: 0.75vw;
  grid-row: 1/3;
  grid-column: 1/2;
  margin-bottom: 0;
  align-self: end;
  padding-bottom: 30px;
}

.bag_description{
  grid-row: 1/2;
  grid-column: 2/3;
  padding-left: 15px;
  padding-right: 15px;
}

h2{
  margin-bottom: 10px;
}


/* FAQ */

.faq {
  margin-top: 40px;
  background-color: #32303c99;
  padding-left: 25px;
  padding-bottom: 15px;
  padding-right: 20px;
  border-radius: 15px;
}

.faq_title {
  color: #E7BA7C;
  font-size: 30px;
  margin-bottom: 0px;
  padding: 20px;
}

.accordion {
  background-color: #32303c;
  color: #406887;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  cursor: pointer;
  font-size: 1.6vw;
  padding: 3px;
  margin: 5px;
  padding-left: 15px;
}

.active, .accordion:hover {
  background-color: #406887;
  color: #E7BA7C;
}

.panel {
  padding: 0 18px;
  background-color: #999;
  display: none;
  overflow: hidden;
  font-size: 20px;
  border-radius: 5px;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    .navbar {
      flex-direction: column; /* Stack items vertically on smaller screens */
      align-items: flex-start; /* Align items to the start on smaller screens */
    }

    #text {
      display: none;
    }

    nav{
        align-self: flex-end;
        padding: 0px;

    }
  
    .brand-name {
      margin: 5px 0; /* Adjust the margin as needed */
    }
  }